<div class="paragraph">
    <p style="text-align: center; font-size: 1.9em;">Services</p>
</div>
<div class="container my-5 d-flex justify-content-center">
    <h3 style="text-align: center;"></h3>
    <div class="flex-sm-row row justify-content-center b">
        <div class="col-auto mx-sm-5">
            <div class="card">
                <div class="card-header bg-white mt-4 border-0">
                        <div class="media-body my-auto margin-left">
                            <p class="font-weight-bold mb-0 ">Rebecca Nayere</p><small class="text-muted font-italic">Software Developer P&G-development </small>
                        </div>
                    
                </div>
                <div class="card-body px-sm-5 ">
                    <div class="row">
                        <div class="col">
                            <p class="bold">" i~Insurance saved me so much time looking for an agent. It's ease with user friendly services only made my experience more enjoyable, I would undoubtly reccommend this to anyone " </p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-footer py-0 my-0 bg-dark border-0">
                    <div class="row justify-content-center">
                        <div class="col-auto"><img class="img-fluid" src="https://i.imgur.com/eKx0vzf.png" width="100" height="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mt-lg-0 mt-5">
            <div class="card ">
                <div class="card-header bg-white mt-4 border-0">
                        <div class="media-body my-auto margin-left">
                            <p class="font-weight-bold mb-0 ">Eric </p><small class="text-muted font-italic ">CEO, Bayer Inc.</small>
                        </div>                    
                </div>
                <div class="card-body px-sm-5 ">
                    <div class="row">
                        <div class="col">
                            <p class="bold">" i~Insurance's plans are a guarantee for employers looking for agent services. Would I refer to their other plans? Definitely i~Insurance is also very time efficient which obviously works best for my " </p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-footer bg-dark border-0">
                    <div class="row justify-content-center">
                        <div class="col-auto"><img class="img-fluid" src="https://i.imgur.com/hAIdxvG.jpg" width="60" height="60"> </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div><br><br>

</div>

<div class="row2">
    <div class="flex-sm-row row justify-content-center b">
        <div class="col-auto mx-sm-5">
            <div class="card">
                <div class="card-header bg-white mt-4 border-0">
                        <div class="media-body my-auto margin-left">
                            <p class="font-weight-bold mb-0 ">Insurance consultancy</p><small class="text-muted font-italic">Software Developer P&G-development </small>
                        </div>
                    
                </div>
                <div class="card-body px-sm-5 ">
                    <div class="row">
                        <div class="col">
                            <p class="bold">" i~Insurance saved me so much time looking for an agent. It's ease with user friendly services only made my experience more enjoyable, I would undoubtly reccommend this to anyone " </p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-footer py-0 my-0 bg-dark border-0">
                    <div class="row justify-content-center">
                        <div class="col-auto"><img class="img-fluid" src="https://i.imgur.com/eKx0vzf.png" width="100" height="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mt-lg-0 mt-5">
            <div class="card ">
                <div class="card-header bg-white mt-4 border-0">
                        <div class="media-body my-auto margin-left">
                            <p class="font-weight-bold mb-0 ">Eric </p><small class="text-muted font-italic ">CEO, Bayer Inc.</small>
                        </div>                    
                </div>
                <div class="card-body px-sm-5 ">
                    <div class="row">
                        <div class="col">
                            <p class="bold">" i~Insurance's plans are a guarantee for employers looking for agent services. Would I refer to their other plans? Definitely i~Insurance is also very time efficient which obviously works best for my " </p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-footer bg-dark border-0">
                    <div class="row justify-content-center">
                        <div class="col-auto"><img class="img-fluid" src="https://i.imgur.com/hAIdxvG.jpg" width="60" height="60"> </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>


 



  