<div class="service">
    <h1 style="text-align: center;">Services</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="service">
                <div class="card-body"> 
                    <h4 class="mt-4 mb-3">Health</h4>
                    <p></p>
                </div>
                </div>
            </div>
            <div class="paragraph">
                <p>Our health cover offers you the best health covers As the world counts down the “decade of action” to make the 2030 Sustainable Development Goals a reality, I~insurance together with our partners is taking on the chalenge to help citizens get adequate medical attention also curn health worker shortage and equip all frontline health workers to thrive. Solving these challenges is critical to achieving key global health priorities such as universal health coverage to our loyal clients.I~insurance has got you covered in case of medical emergencies.</p>
            </div>
            
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="service">
                <div class="card-body"> 
                    <h4 class="mt-4 mb-3">Life Insurance</h4>
                    <p></p>
                </div>
                </div>
            </div>
            <div class="paragraph">
                <p>I~insurance gives you the life insurance at amazing saving rates we make you live without worry ,I~insurance has got you covered</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="service">
                <div class="card-body"> 
                    <h4 class="mt-4 mb-3">Investment</h4>
                    <p></p>
                </div>
                </div>
            </div>
            <div class="paragraph">
                <p>You have probably been struggling finding institutions that will serve you and offer the best interest rates as per your affordability .we've got you covered here</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow rounded-xs pt-5">
                <div class="service">
                <div class="card-body"> 
                    <h4 class="mt-4 mb-3">GeneralInsurance</h4>
                    <p></p>
                </div>
                </div>
            </div>
            <div class="paragraph">
                <p>General insurance from our cover policies which covers all your life worries ranging from incident,life ,health ,education insurances we have it all here in one package.The genral insurance offered at I~insurance is special in the sense that we offer very low interest rates on the deposits clients make to our company ,this package has been greatly accepted by most clients hence our decision to encourage our clients to go for this particular insurance package .Remember I~insurance has got your back</p>
            </div>
        </div>
       
    </div>
</div>



