.container-fluid{
    background-image: src"./assets/images/home.jpg";
    background-size: cover;
    height: 101vh;
    background-attachment: fixed;
    color: white;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
h4 {
    background-color: #1C2331;
}

.btn btn-dark btn-xl {
    height: 70vh;
}
