


.carousel {
    height: 50%;
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
          .navbar:not(.top-nav-collapse) {
              background: #1C2331!important;
          }
      }
  
  .carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:90%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
  

  #caroz {
      height: 660px;
  }
  h6 {
      color: green;
  }
 h3 {
     text-align:center;
 }

 .card-img-top {
     height: 500px;
 }

 .card-body card-body-cascade text-center rgba-black-strong {
    color: white;
}
.view view-cascade overlay {
    height: 20px;
}
.cardclass {
    height: 30px;
}
h4 {
    text-align: center;
}

.card-footer {
    background-color: #1C2331;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.olil {
    background-color: #1C2331;
    color: white;
}
h6 {
    text-align: center;
}
.col-sm-8 {
    background-color: #ffffff00;
}
#bgimg {
    background: url(/assets/images/students.jpg);
    width:100%;
    height:85vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero {
  width: 100%;
  height: 85vh;
  background: url(/assets/images/happyimages.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;


  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
}

@keyframes cf3FadeInOut {
  0% {opacity:1;}
  45% {opacity:1;}
  55% {opacity:0;}
  100% {opacity:0;}
}
.white {
    color: white;
    
}
@media (min-width: 1024px) {
 #hero {
   background-attachment: fixed;
  }
}
.narco3 {
    background-color: #1C2331;
}

#date{
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.6;
  filter: alpha(opacity)
}
