<div class="agreement">
	<h1 style="text-align: center;"> Agreements</h1>
	<p>At I~insurance we have the best client centered deals ,Interest rates on savings that will leave you amazed<br>Before we sign up a client however we must get into a mutual agreement which includes also the signing of contracts<br>There are a number of things we consider before getting into an agreement with our clients some of which include :</p><ul>
		<li>A client must have an Identification card</li>
		<li>A client should be at least 18 years old </li>
		<li>A client should be either a </li>
	</ul>
</div>
<div class="main">
    <div class="row">
        <div class="col-md-4">
            <div class="one">
                <div class="px-3 pb-4">
                    <div><img src="https://img.icons8.com/bubbles/50/000000/blond-short-hair-lady-with-blue-glasses.png" width="15" class="pic1" /><img src="https://img.icons8.com/bubbles/50/000000/girl-with-chemical-test-tube.png" width="22" class="pic2" /></div>
                    <div><img src="https://img.icons8.com/bubbles/100/000000/girl-with-glasses-art-palette.png" width="65" /></div>
                    <div><img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-gem.png" width="16" class="pic3" /><img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="16" class="pic4" /></div>
                    <div>
                        <h4 class="project">Add new project + </h4>
                    </div>
                    <div>
                        <p class="quote">Still not enough? Click on a tile to add a new project.</p>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                <div class="two">
                    <div class="d-flex justify-content-end px-3 pt-1"><i class="mdi mdi-star-outline pr-1 star"></i><i class="mdi mdi-dots-horizontal dot"></i></div>
                    <div class="px-3">
                        <div class="round"><img src="https://img.icons8.com/emoji/48/000000/hedgehog-emoji.png" width="23" class="imgfix" /></div>
                    </div>
                    <div class="px-3 pt-3">
                        <h3 class="name">Hedgehogs</h3>
                        <p class="quote2">These cuties will need a new place where thay can live with their owner.</p>
                    </div>
                    <div class="d-flex justify-content-start px-3 align-items-center"> <i class="mdi mdi-view-comfy task"></i> <span class="quote2 pl-2">Task: Commercial project</span> </div>
                    <div class="d-flex justify-content-between px-3 align-items-center pb-3">
                        <div class="d-flex justify-content-start align-items-center"> <i class="mdi mdi-calendar-clock date"></i> <span class="quote2 pl-2">Date: 01.10.2020</span> </div>
                        <div class="d-flex justify-content-end"> <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" /> <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" /> <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" /> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="two">
                    <div class="d-flex justify-content-end px-3 pt-1"><i class="mdi mdi-star-outline pr-1 star"></i><i class="mdi mdi-dots-horizontal dot"></i></div>
                    <div class="px-3">
                        <div class="round"><img src="https://img.icons8.com/bubbles/100/000000/girl-with-glasses-art-palette.png" width="23" /></div>
                    </div>
                    <div class="px-3 pt-3">
                        <h3 class="name">Friendly Painter</h3>
                        <p class="quote2">Within the exercise, we design aroom in a scandinavian style.</p>
                    </div>
                    <div class="d-flex justify-content-start px-3 align-items-center"> <i class="mdi mdi-view-comfy task"></i> <span class="quote2 pl-2">Task: Practice</span> </div>
                    <div class="d-flex justify-content-between px-3 align-items-center pb-3">
                        <div class="d-flex justify-content-start align-items-center"> <i class="mdi mdi-calendar-clock date"></i> <span class="quote2 pl-2">Date: 01.07.2020</span> </div>
                        <div class="d-flex justify-content-end"> <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" /> <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" /> <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" /> </div>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                <div class="two">
                    <div class="d-flex justify-content-end px-3 pt-1"><i class="mdi mdi-star-outline pr-1 star"></i><i class="mdi mdi-dots-horizontal dot"></i></div>
                    <div class="px-3">
                        <div class="round"><img src="https://img.icons8.com/cute-clipart/64/000000/doctor-male.png" width="23" class="imgfix" /></div>
                    </div>
                    <div class="px-3 pt-3">
                        <h3 class="name">Dr. Stefan</h3>
                        <p class="quote2">Mr. Doctor needs a new office, let's do something nice!</p>
                    </div>
                    <div class="d-flex justify-content-start px-3 align-items-center"> <i class="mdi mdi-view-comfy task"></i> <span class="quote2 pl-2">Task: Commercial project</span> </div>
                    <div class="d-flex justify-content-between px-3 align-items-center pb-3">
                        <div class="d-flex justify-content-start align-items-center"> <i class="mdi mdi-calendar-clock date"></i> <span class="quote2 pl-2">Date: 01.12.2020</span> </div>
                        <div class="d-flex justify-content-end"> <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" /> <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" /> <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" /> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="two">
                    <div class="d-flex justify-content-end px-3 pt-1"><i class="mdi mdi-star-outline pr-1 star"></i><i class="mdi mdi-dots-horizontal dot"></i></div>
                    <div class="px-3">
                        <div class="round"><img src="https://img.icons8.com/cotton/64/000000/football-ball.png" width="23" class="imgfix" /></div>
                    </div>
                    <div class="px-3 pt-3">
                        <h3 class="name">Dressing Room</h3>
                        <p class="quote2">Wonderful news! Let's arrange the hosts and guest's dressing rooms!</p>
                    </div>
                    <div class="d-flex justify-content-start px-3 align-items-center"> <i class="mdi mdi-view-comfy task"></i> <span class="quote2 pl-2">Task: Commercial project</span> </div>
                    <div class="d-flex justify-content-between px-3 align-items-center pb-3">
                        <div class="d-flex justify-content-start align-items-center"> <i class="mdi mdi-calendar-clock date"></i> <span class="quote2 pl-2">Date: 01.08.2020</span> </div>
                        <div class="d-flex justify-content-end"> <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" /> <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" /> <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" /> </div>
                    </div>
                </div>
            </div>
            <div class="pt-2">
                <div class="two">
                    <div class="d-flex justify-content-end px-3 pt-1"><i class="mdi mdi-star-outline pr-1 star"></i><i class="mdi mdi-dots-horizontal dot"></i></div>
                    <div class="px-3">
                        <div class="round"><img src="https://img.icons8.com/plasticine/100/000000/santas-hat.png" width="23" class="imgfix" /></div>
                    </div>
                    <div class="px-3 pt-3">
                        <h3 class="name">Ho, Ho, Ho!</h3>
                        <p class="quote2">Christmas is coming! will we try to prepare something for this occasion?</p>
                    </div>
                    <div class="d-flex justify-content-start px-3 align-items-center"> <i class="mdi mdi-view-comfy task"></i> <span class="quote2 pl-2">Task: Practice</span> </div>
                    <div class="d-flex justify-content-between px-3 align-items-center pb-3">
                        <div class="d-flex justify-content-start align-items-center"> <i class="mdi mdi-calendar-clock date"></i> <span class="quote2 pl-2">Date: 20.12.2020</span> </div>
                        <div class="d-flex justify-content-end"> <img src="https://img.icons8.com/bubbles/50/000000/short-curly-hair-girl-musical-notes.png" width="20" class="img1" /> <img src="https://img.icons8.com/bubbles/50/000000/girl-and-playing-card.png" width="20" class="img2" /> <img src="https://img.icons8.com/bubbles/50/000000/short-hair-girl-question-mark.png" width="20" class="img3" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section product">
	<div class="wrap">
		<div class="product-listing">
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/investments-icon.svg" alt="">
						</div>
						<h4>My Investments</h4>
						<p></p><p>Let’s get your money working for you.</p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/investment/" class="read-more">Learn More</a>
					</div>
				</div>
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/invest-icon.svg" alt="">
						</div>
						<h4>Invest with us</h4>
						<p></p><p>Let’s get your money working for you. </p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/investment/" class="read-more">Learn More</a>
					</div>
				</div>
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/pension-icon.svg" alt="">
						</div>
						<h4>Pension</h4>
						<p></p><p>Work hard now, enjoy life even after retirement. </p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/life-insurance/" class="read-more">Learn More</a>
					</div>
				</div>
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/education.svg" alt="">
						</div>
						<h4>Education</h4>
						<p></p><p>Be who you want to be, in life. </p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/life-insurance/" class="read-more">Learn More</a>
					</div>
				</div>
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/motor-icon.svg" alt="">
						</div>
						<h4>Motor Insurance</h4>
						<p></p><p>Whatever your style or flair, we have you covered. </p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/general-insurance/" class="read-more">Learn More</a>
					</div>
				</div>
							<div class="single-product">
					<div class="product-excerpt" style="height: 230px;">
						<div class="product-icon">
							<img src="./Madison Group – Attaining superior yields on our investments._files/health.svg" alt="">
						</div>
						<h4>Health</h4>
						<p></p><p>We take care of what is most valuable to you.</p>
 <p></p>
												<a href="https://www.madison.co.ke/product_category/healthcare/" class="read-more">Learn More</a>
					</div>
				</div>
			


		</div>
		<a href="https://www.madison.co.ke/?page_id=115" class="get-quote">
			<div class="quote-icon">
				<img src="./Madison Group – Attaining superior yields on our investments._files/quote-icon.svg" alt="">
			</div>
			<h4>GET A QUOTE</h4>
		</a>
	</div>
</div>