body.single-product{
	width: 100%;
	padding: 0;
}
body.tax-people_category .banner-caption .excerpt{
	padding: 10px;
	border-radius: 0;
	max-width: 100%;
}

.mobi-nav-holder .menu-main-menu-container{
	display: block;
}

body {
    background-color: #eee;
    
}

.main {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    background-color: #f6f6f6
}

.one {
    width: 270px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.pic1 {
    position: relative;
    right: 22px;
    top: 23px
}

.pic2 {
    position: relative;
    left: 25px;
    top: 17px
}

.pic3 {
    position: relative;
    right: 13px;
    bottom: 18px
}

.pic4 {
    position: relative;
    left: 14px;
    bottom: 21px
}

.project {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fd4040
}

.quote {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff
}

.two {
    width: 270px;
    background-color: #1C2331;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.star {
    font-size: 20px !important;
    color: #b1b4b7
}

.dot {
    font-size: 20px !important;
    color: #b1b4b7
}

.round {
    border-radius: 50%;
    background-color: #1C2331;
    width: 33px;
    height: 33px;
    margin-bottom: -10px;
    align-items: center;
    justify-content: center
}

.name {
    font-size: 22px;
    color: white;
    font-weight: 600;
    text-align: left
}

.px-3 pt-3 {
    background-color: green;
}

.quote2 {
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: left
}

.img1 {
    position: relative;
    left: 20px;
    z-index: 28;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.img2 {
    position: relative;
    left: 10px;
    z-index: 29;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.img3 {
    z-index: 30;
    border: 0.5px solid #6ebde4;
    border-radius: 50%;
    background-color: #bcd8e6
}

.agreement {
    text-align: center;
    background-color: #1C2331;
    color: white;
}

.imgfix {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 2px
}
